body {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

/* Header CSS */

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    color: white;
}

.logo {
    padding: 24px;
    color: #F9FAF8;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 24px;
}

/* hero CSS */

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.hero-left p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-button {
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
    border-style: none;
}

.hero-right {
    width: 500px;
    height: auto;
    padding: 48px;
}

/* Information CSS */

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.tile-set {
    display: flex;
}

.tile-set img {
    width: 150px;
    border-radius: 8px;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    font-size: 18px;
}

/* Quote-block CSS */

.quote-block {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 0 20vw;
}

.author {
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
    padding: 0 20vw;
}

/* Style Sign-up */

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

.sign-up-block {
    background-color: #3882F6;
    width: 70vw;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
}

.sign-up-content {
    display: flex;
    flex-direction: column;
    padding: 36px;
}

.sign-up-content h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.sign-up-content p {
    font-size: 18px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.sign-up-block .sign-up-button {
    margin: 48px;
    padding: 6px 12px;
    border-color: white;
    border-style: solid;
}

footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: white;
}

footer p {
    padding: 48px;
}