body {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

/* Header CSS */

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    color: white;
}

.logo {
    padding: 24px;
    color: #F9FAF8;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 24px;
}

/* hero CSS */

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.hero-left p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-right {
    width: 500px;
    height: auto;
    padding: 48px;
}