body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    color: white;
}

.logo {
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 10px;
}